

body{
background-color: #ffe8f7;
max-width: 960px;
position: absolute;
margin: 0% 15% 0% 15%;
}
h1{
font-family: "Derby Family";
font-size: 42px;
}
h2{
font-family: "name--sites-default-files-2024-08-Derby-20Regular-otf", "notdef";
font-size: 38px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.btn {
  font-family: "Derby Family";
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* При наведении курсора мыши */
.btn:hover {background: #111;}

.success {color: white;}

.right {

    margin-top: 0px;
    padding: 10px;
}
.right-search {
    margin-right: 30px;
    margin-top: 15px;
    padding: 10px;
}