
{% extends 'base_recipe.html' %}

{% load static %}

{% block center-area %}

<br><br><br>
<html lang="ru">

<head>
    <meta charset = "UTF-8">

    <title>
        Зарегистрировать учетную запись
    </title>
</head>

        {{ error }}
        <h2>Зарегистрировать учетную запись</h2>

        <form method="post">
            {% csrf_token %}
            <p>Введите ваше Имя<p>
            <input type="text" name="username">
            <p>
            <p>Введите ваш Пароль<p>
            <input type="password" name="password1">
        </p>
            <p>Повторите ваш Пароль<p>
            <input type="password" name="password2">
        </p>
                <button type="submit">Зарегистрировать</button>
            </p>
        </form>


{% endblock %}

</html>

