<!doctype  html>
{% load static %}
<html  lang="ru">
<head>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    -->
    <!-- google fonts-->


    <title>Django Авторизация</title>
</head>

<body class="body">

<div  class="container">
    <div  class="row justify-content-center">
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'recept' %}">Рецепты</a></li>
<!--
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
            <li ><a href="{% url 'logout' %}">Выйти</a></li>
<!-->
            <li class="right-search" style="float: right;"><input type="text" placeholder="Поиск по сайту ..."></li>

            {% if user.is_authenticated %}
            <li class="right" style="float: right;"><a class="nav-link"> {{ user.username }} </a> </li>
            <li class="right" style="float: right;">

                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn success">Выйти</button>
                </form>
            </li>
            {% else %}
            <li class="right" style="float: right;"><a href="{% url 'login' %}" > Войти в аккаунт</a></li>
            <li class="right" style="float: right;"><a href="{% url 'signup' %}" > Зарегистрироваться</a></li>
            {% endif %}

        </ul>
    </div>

</div>



    {% block main %}

    {% endblock %}



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>
