{% extends 'base_recipe.html' %}

{% block left-area %}

{% endblock %}

{% block center-area %}
<br>
<div id="title">
    <header>
        <h2>{{ recept.recept_name }}</h2> </a>
    </header>
</div>
<br>
{% if recept.img %}
<img src = "{{ recept.img.url }}" height="200px" width="300px">
{% else %}
<p>Нет изображения</p>
{% endif %}
<h6>Автор: {{ recept.author }}
    Дата: {{ recept.date }}</h6>

<br>
<div id="details">
    <div class="Details">
{{ recept.recept_text }}
    </div>
</div>
    <br>

{% if user.is_authenticated %}
    {% if user == recept.author %}

<a href="{% url 'update' recept.id %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
{% endif %}
<br>

{% endblock %}
