
{% for recipt in recipts %}
<div class = "card text-center">

    <div class = "card-header">{{ recipt.category }}</div>
    <div class = "card-body"> <h5 class="card-title">{{ recipt.title }}</h5>
        <img src="{{ recipt.img.url }}" class="card-img-top" alt="..." height="400px">
        <br><br>
        <p class = "card-text">{{ recipt.recept_text | truncatewords:20 }}</p>

        <div class="d-flex justify-content-center">  <!--  Добавляем класс "d-flex" и "justify-content-center" -->
            <a href="{% url 'recept_id' recipt.id %}" class = "btn btn-primary mx-2">Подробнее</a>

            {% if user.is_authenticated %}
            {% if user == recipt.author %}
            <a href="{% url 'update' recipt.id %}" class = "btn btn-primary mx-2">Редактировать</a>
            <form method="post" action="{% url 'delete' recipt.id %}">
                {% csrf_token %}
                <button type="submit" class = "btn btn-primary mx-2">Удалить</button>
            </form>
            {% endif %}
            {% endif %}
        </div>  <!--  Закрываем div "d-flex" -->

        <br><br>
        <div class = "card-footer text-muted"> Дата создания: {{ recipt.date }}</div>

    </div>
</div>


<br><br>
{% endfor %}

